<img src="/images/FS_FullColor.jpg" alt="Swim Club Logo" class="img-responsive center-block" />
<h1 class="home-title">Sun City Festival Swimmer's Club</h1>
<p>This is a work-on-progress default Home Page</p>

<h2>Work-out schedule:</h2>


<p>TUESDAY AND THURSDAY</p>

<p>PICK EITHER 9-10 OR 10-11 AM</p>
​
​<p>Nov. thru April 9-11 am</p>
<p>May thru Oct. 7-9 am</p>


<div>
​<h2>WHAT is US Masters Swimming (USMS)</h2>

<p>Masters Swimming is an organized program of swimming for adults.
U.S. Masters Swimming, founded in 1970, is a nonprofit membership national governing body.
It provides membership benefits to nearly 60,000 Masters Swimmers across the country. Some of these benefits include:</p>
<ul>
<li>Insurance</li>
<li>Swimmer Magazine</li>
<li>Sanctioned Events</li>
</ul>
<p>USMS and its 52 Local Masters Swimming Committees (LMSCs) provide direct support to more than 1,500 Masters Swimming clubs and workout groups.
  Structure and organization of USMS programs vary and are driven by factors such as pool availability,
  instructor or coach availability, community support, and finances.
  The majority of locations offering Masters Swimming programs have coaches on deck.
  Coaches write workouts and provide feedback and instruction.</p>

<p>For more information check out their web site: www.usms.org</p>

</div>
