// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 50px; }

h1, h2, {
  text-align: center;
}

.page-body {
  float: none;
  margin: auto;
}

p {
  text-align: center;
}
