<!DOCTYPE html>
<html>
<head>
  <title>SwimClub</title>
  <script type="text/javascript">var CKEDITOR_BASEPATH = '/assets/ckeditor/';</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= yield %>
    
</body>
</html>
